<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FStack - Chủ Trọ</title>
  <!-- Favicon -->
  <link rel="shortcut icon" th:href="@{/landlord/images/favicon.ico}"/>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" th:href="@{/landlord/css/bootstrap.min.css}"/>
  <!-- Typography CSS -->
  <link rel="stylesheet" th:href="@{/landlord/css/typography.css}"/>
  <!-- Style CSS -->
  <link rel="stylesheet" th:href="@{/landlord/css/style.css}"/>
  <!-- Responsive CSS -->
  <link rel="stylesheet" th:href="@{/landlord/css/responsive.css}"/>

  <link rel="stylesheet" th:href="@{/landlord/assets/step/style.step.css}"/>

</head>

<body style="">
<!-- loader Start -->
<div id="loading" style="display: none;">
  <div id="loading-center">
    <div class="loader">
      <div class="cube">
        <div class="sides">
          <div class="top"></div>
          <div class="right"></div>
          <div class="bottom"></div>
          <div class="left"></div>
          <div class="front"></div>
          <div class="back"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <!-- loader END -->
  <!-- TOP Nav Bar -->
  <div th:replace="~{/landlord/fragments/header}"></div>
  <!-- TOP Nav Bar END -->
  <!-- Sidebar  -->
  <div class="iq-sidebar">
    <div class="iq-sidebar-logo d-flex justify-content-between">
      <a th:href="@{home}">
        <img th:src="@{/landlord/images/logo.png}" class="img-fluid" alt="">
        <span>FStack</span>
      </a>
      <div class="iq-menu-bt align-self-center">
        <div class="wrapper-menu">
          <div class="line-menu half start"></div>
          <div class="line-menu"></div>
          <div class="line-menu half end"></div>
        </div>
      </div>
    </div>

    <div id="sidebar-scrollbar" data-scrollbar="true" tabindex="-1" style="overflow: hidden; outline: none;">
      <div class="scroll-content">
        <nav class="iq-sidebar-menu">
          <ul id="iq-sidebar-toggle" class="iq-menu">
            <li class="iq-menu-title"><i class="ri-separator"></i><span>Chức năng</span></li>
            <li class="active">
              <a th:href="@{home}" class="iq-waves-effect"><i class="ri-home-4-line"></i><span>Trang chủ</span></a>
            </li>
            <!--                    <li>-->
            <!--                        <a href="#QuanLyTin" class="iq-waves-effect collapsed" data-toggle="collapse"-->
            <!--                           aria-expanded="false"><i class="ri-file-text-line"></i><span>Quản lý tin đăng</span><i-->
            <!--                                class="ri-arrow-right-s-line iq-arrow-right"></i></a>-->
            <!--                        <ul id="QuanLyTin" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">-->
            <!--                            <li><a th:href="@{post-news}">Đăng tin mới</a></li>-->
            <!--                            <li><a th:href="@{home}">Quản lý tin</a></li>-->
            <!--                        </ul>-->
            <!--                    </li>-->
            <li><a th:href="@{post-news}" class="iq-waves-effect"><i class="ri-file-text-line"></i><span>Đăng tin mới</span></a>
            </li>
            <!--                    <li><a th:href="@{profile}" class="iq-waves-effect"><i class="ri-edit-box-line"></i><span>Thông tin cá nhân</span></a>-->
            <!--                    </li>-->
            <!--                    <li><a th:href="@{chat}" class="iq-waves-effect"><i class="ri-message-line"></i><span>Liên hệ</span></a>-->
            <!--                    </li>-->
            <li><a th:href="@{sign-in}" class="iq-waves-effect"><i class="iq-bg-danger ri-login-box-line"></i><span>Đăng xuất</span></a>
            </li>
            </li>
          </ul>
        </nav>
      </div>
      <div class="scrollbar-track scrollbar-track-x" style="display: none;">
        <div class="scrollbar-thumb scrollbar-thumb-x"
             style="width: 260px; transform: translate3d(0px, 0px, 0px);"></div>
      </div>
      <div class="scrollbar-track scrollbar-track-y" style="display: block;">
        <div class="scrollbar-thumb scrollbar-thumb-y"
             style="height: 320.181px; transform: translate3d(0px, 0px, 0px);"></div>
      </div>
    </div>
  </div>  <!-- Page Content  -->
  <div id="content-page" class="content-page">
    <div class="container-fluid" layout:fragment="content">

    </div>
  </div>
</div>
<!-- Wrapper END -->
<!-- Footer -->
<div th:replace="~{/landlord/fragments/footer}"></div>
<!-- Footer END -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script th:src="@{/landlord/js/jquery.min.js}"></script>
<script th:src="@{/landlord/js/popper.min.js}"></script>
<script th:src="@{/landlord/js/bootstrap.min.js}"></script>
<!-- Appear JavaScript -->
<script th:src="@{/landlord/js/jquery.appear.js}"></script>
<!-- Countdown JavaScript -->
<script th:src="@{/landlord/js/countdown.min.js}"></script>
<!-- Counterup JavaScript -->
<script th:src="@{/landlord/js/waypoints.min.js}"></script>
<script th:src="@{/landlord/js/jquery.counterup.min.js}"></script>
<!-- Wow JavaScript -->
<script th:src="@{/landlord/js/wow.min.js}"></script>
<!-- Apexcharts JavaScript -->
<script th:src="@{/landlord/js/apexcharts.js}"></script>
<!-- Slick JavaScript -->
<script th:src="@{/landlord/js/slick.min.js}"></script>
<!-- Select2 JavaScript -->
<script th:src="@{/landlord/js/select2.min.js}"></script>
<!-- Owl Carousel JavaScript -->
<script th:src="@{/landlord/js/owl.carousel.min.js}"></script>
<!-- Magnific Popup JavaScript -->
<script th:src="@{/landlord/js/jquery.magnific-popup.min.js}"></script>
<!-- Smooth Scrollbar JavaScript -->
<script th:src="@{/landlord/js/smooth-scrollbar.js}"></script>
<!-- lottie JavaScript -->
<script th:src="@{/landlord/js/lottie.js}"></script>
<!-- Chart Custom JavaScript -->
<script th:src="@{/landlord/js/chart-custom.js}"></script>
<script th:src="@{/landlord/js/custom.js}"></script>
<script th:src="@{/landlord/js/jquery.validate.min.js}"></script>
<!--<script th:src="@{/client/assets/js/bootstrap-select.min.js}"></script>-->
<script th:src="@{/landlord/assets/step/jquery-steps/jquery.steps.js}"></script>

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyZ7Ai2CrGPrlw5GNav8tuhGkY3vLR9xo&callback=updateMap"></script>

</body>
</html>
